body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: lightgray;
}

h1 {
  text-align: center;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto 30px;
}

form * {
  margin-bottom: 15px;
}

fieldset {
  border: 0;
  padding: 0;
}

label, legend {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 3px;
}

input, select, textarea {
  border: 2px solid black;
  padding: 15px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

input[type=submit]:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.checkbox-wrapper {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 5px 0 0 35px;
  height: 25px;
  cursor: pointer;
  user-select: none;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-wrapper input:checked ~ .checkmark {
  border: 4px solid #eee;
  background-color: #2196F3;
}